# fmri-qa-report

```{eval-rst}
.. automodule:: fmriqa_report
.. autodata:: fmriqa_report.theme.DEFAULT_THEME
.. automodule:: fmriqa_report.formats.html
   :exclude-members: render_run_page, write_run_page
.. autodata:: fmriqa_report.formats.html.figures.FIGURE_ASSETS
```
